div {
  font-family: Arial;
}

.sidebar1 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(33, 33, 33);
}

.picture1 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 8px;
}

.picture2 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.sidebar2 {
  background-color: rgb(55, 55, 55);
  position: fixed;
  width: 210px;
  top: 0;
  left: 70px;
  bottom: 0;
}

.info-section {
  color: white;
  font-size: 15px;
  margin-left: 20px;
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plus-sign {
  margin-right: 20px;
  font-size: 25px;
  color: rgb(150, 150, 150);
}

.hashtag-section {
  margin-left: 20px;
  color: rgb(150, 150, 150);
  margin-top: 10px;
}

.hashtags {
  margin-bottom: 15px;
}