.flexbox-container {
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  height: 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.div1 {
  background-color: lightpink;
}

.div2 {
  background-color: lightpink;
}