div {
  font-family: Arial;
  margin-left: 600px;
}

.ride {
  font-weight: bold;
  font-size: 30px;
}

.pic {
  width: 300px;
  margin-top: 0px;
  height: 35px;
  margin-bottom: 5px;
  padding-left: 15px;
  border: none;
  background-color: rgb(240, 240, 240);
}

.des {
  width: 300px;
  height: 35px;
  display: block;
  margin-bottom: 20px;
  padding-left: 15px;
  background-color: rgb(240, 240, 240);
  border: none;
}

.now {
  height: 35px;
  background-color: black;
  color: white;
  width: 120px;
  margin-right: 10px;

}

.later {
  height: 35px;
  border: none;
  font-weight: bold;
  width: 150px;
}