body {
  height: 3000px;
}

.container {
  display: inline-block;
  position: relative;
}

.picture {
  width: 300px;
  object-fit: cover;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px black solid;
}

.sale {
  background-color: black;
  color: white;
  font-family: Roboto, Arial;
  position: absolute;
  top: 10px;
  right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}